# Compiled output
*.bin
*.obj
*.exe
*.wasm

# Build artifacts
build/
dist/
target/
bin/
obj/

# VS build output
*.vsix

# Generated code
examples/gen/
examples/gen_*/
gen_*/
gen/
out_*/
dxil_out/
spirv_out/
llvm_out/
all_out/

# IDE
.vscode/
.vs/
.idea/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store
